* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Montserrat', sans-serif;
}

/* common */
a {
    text-decoration: none;
}

h4 {
    color: white;
}

aside {
    height: 100%;
    width: 200px;
    float: left;
}

main {
    height: 100%;
    width: calc(100% - 200px);
    float: left;
    overflow-y: scroll;
    background-color: #141922;
}

footer {
    height: 100px;
    width: 100%;
    background-color: #282828;
    position: fixed;
    bottom: 0;
}

.wrapper {
    width: 100%;
    height: calc(100vh - 100px);
}

.flex {
    display: flex;
}

.clearfix {
    content: "";
    display: table;
    clear: both;
}
/* fine common  */

/* navigazione */
.row {
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    padding: 0 20px;
    background-color: black;
}

.info {
    height: calc(100% - 80px);
    flex-direction: column;
    overflow-y: hidden;
}

/* logo */
#logo img {
    width: 85%;
    margin-top: 20px;
}
/* fine logo */

/* cerca */
nav {
    flex-direction: column;
    margin: 20px 0;
}

nav a {
    align-items: center;
    line-height: 30px;
}

nav a span {
    color: white;
    margin-left: 10px;
}

.item {
    width: 40px;
}
/* fine cerca */

/* playlist */
.playlist {
    flex-direction: column;
    overflow: hidden;
}

.playlist span {
    display: inline-block;
    height: 20px;
    font-size: 18px;
    font-weight: 500;
    color: #a3a3a3;
}

.playlist a span:first-child {
    display: inline-block;
    width: 30px;
    height: 30px;
    text-align: center;
    background-color: #a3a3a3;
    color: black;
    font-size: 25px;
    font-weight: 800;
}

.new-playlist h4 {
    margin-bottom: 10px;
}

.user-playlist {
    flex-direction: column;
}

.playlist a {
    color: #a3a3a3;
    line-height: 30px;
}
/* fine playlist */

/* utente */
.account {
    height: 80px;
    flex-direction: column;
    justify-content: center;
}

.download img {
    width: 10%;
}

.utente {
    align-items: center;
}

.utente img {
    background-color: grey;
    height: 30px;
    width: 30px;
    border-radius: 50%;
}


.download span {
    color: #a3a3a3;
    margin-left: 10px;
}

hr {
    margin: 10px 0;
}

.utente h4 {
    margin-left: 10px;
}
/* fine utente */
/* fine navigazione */

/* corpo */
.upgrade {
    width: calc(100% - 200px);
    height: 100px;
    justify-content: flex-end;
    align-items: center;
    position: fixed;
    right: 0;
    background-color: rgba(0, 0, 0, 0.5);
}

.upgrade a {
    padding: 10px 40px;
    border: 1px solid white;
    border-radius: 20px;
    color: white;
    margin-right: 20px;
}

.container {
    width: 100%;
    height: 100%;
    margin: 100px auto 5px;
} 

.menu-esplora {
    width: 100%;
    height: 20px;
    justify-content: center;
}

.menu-esplora a {
    width: 50px;
    height: 20px;
    margin: 0 15px;
}
/* fine corpo */

/* footer */
/* fine footer */

/* debug */
.debug .wrapper {
    background-color: rgb(248, 168, 168);
}

.debug aside {
    background-color: rgb(145, 141, 141) ;
}

.debug main {
    background-color: rgb(95, 95, 212);
}

.debug footer {
    background-color: lightpink;
}

.debug .row {
    background-color: black;
}

.debug .info,
.debug .account {
    border: 2px solid red;
}

.debug #logo,
.debug nav, 
.debug .playlist {
    border: 3px solid white;
}

.debug .upgrade {
    background-color: rgba(0, 0, 0, 0.5);
}

.debug .container {
    background-color: rgb(192, 250, 192);
}

.debug .menu-esplora,
.debug .menu-esplora a,
.debug nav a  {
    border: 1px solid black;
}



