* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* common */
a {
    text-decoration: none;
}

aside {
    height: 100%;
    width: 15%;
    float: left;
}

main {
    height: 100%;
    width: calc(100% - 15%);
    float: left;
}

footer {
    height: 150px;
    width: 100%;
}

.wrapper {
    width: 100%;
    height: calc(100vh - 150px);
}

.flex {
    display: flex;
}

.clearfix {
    content: "";
    display: table;
    clear: both;
}
/* fine common  */

/* navigazione */
.row {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    padding: 0 5%;
}

.info {
    height: 50%;
    flex-direction: column;
    justify-content: space-around;
}

/* #logo {
    width: 100%;
} */

#logo img {
    width: 100%;
}

nav {
    height: 25%;
    flex-direction: column;
    justify-content: space-between;
}

nav a {
    align-items: center;
}

nav a span {
    color: white;
    margin-left: 10px;
}

.item {
    width: 10%;
}

.playlist {
    width: 100%;
    height: 100px;
}

.account {
    height: 20%;
}
/* fine navigazione */

/* corpo */
.upgrade {
    width: 100%;
    height: 100px;
    justify-content: flex-end;
    align-items: center;
}

.upgrade a {
    padding: 10px 40px;
    border: 1px solid white;
    border-radius: 20px;
    color: white;
    margin-right: 20px;
}

.container {
    width: 98%;
    height: 100%;
    margin: 10px;
    overflow: hidden;
}

.row-container {
    width: 60%;
    margin: 0 auto;
    height: 20px;
    justify-content: space-around;
}

.row-container a {
    width: 50px;
    height: 20px;
}
/* fine corpo */

/* footer */
/* fine footer */

/* debug */
.debug .wrapper {
    background-color: rgb(248, 168, 168);
}

.debug aside {
    background-color: rgb(145, 141, 141) ;
}

.debug main {
    background-color: rgb(95, 95, 212);
}

.debug footer {
    background-color: lightpink;
}

.debug .row {
    background-color: black;
}

.debug .info,
.debug .account {
    border: 2px solid red;
}

.debug #logo,
.debug nav, 
.debug .playlist {
    border: 3px solid white;
}

.debug .upgrade {
    background-color: rgba(0, 0, 0, 0.5);
}

.debug .container {
    background-color: rgb(192, 250, 192);
}

.debug .row-container,
.debug .row-container a,
.debug nav a  {
    border: 1px solid black;
}



