* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Montserrat', sans-serif;
    min-width: 500px;
}

/* common */
a {
    text-decoration: none;
}

h4 {
    color: white;
}

aside {
    height: 100%;
    width: 200px;
    float: left;
}

main {
    height: 100%;
    width: calc(100% - 200px);
    float: left;
    overflow-y: scroll;
    background-color: #141922;
}

footer {
    height: 100px;
    width: 100%;
    background-color: #282828;
    justify-content: space-between;
}

.wrapper {
    width: 100%;
    height: 100vh;
}

.wrapper-up {
    height: calc(100% - 100px);
    width: 100%;
}

.flex {
    display: flex;
}

.clearfix {
    content: "";
    display: table;
    clear: both;
}
/* fine common  */

/* navigazione */
.row {
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    background-color: black;
}

.info {
    height: calc(100% - 80px);
    flex-direction: column;
    overflow-y: hidden;
    min-height: 400px;
}

.row a {
    font-weight: 700;
    padding-left: 17px;
    border-left: 3px solid transparent;
}
/* logo */
#logo {
    padding-left: 20px;
}

#logo svg {
    width: 85%;
    margin-top: 20px;
    color: limegreen;
}

#logo-mobile {
    display: none;
}
/* fine logo */

/* cerca */
nav {
    flex-direction: column;
    margin: 20px 0;
}

nav a {
    align-items: center;
}

nav a span {
    color: white;
    margin-left: 10px;
    font-size: 12px;
    color: #7d7f84;
}

nav a:first-child {
    border-left: 3px solid lime;
}

.item {
    width: 25px;
    color: #7d7f84;
}
/* fine cerca */

/* playlist */
.playlist {
    flex-direction: column;
    overflow: hidden;
}

.playlist span {
    display: inline-block;
    height: 20px;
    font-weight: 700;
    color: #a3a3a3;
}

.playlist a span:first-child {
    display: inline-block;
    width: 30px;
    height: 30px;
    text-align: center;
    background-color: #a3a3a3;
    color: black;
    font-size: 25px;
    font-weight: 800;
}

.new-playlist h4 {
    margin-bottom: 10px;
    padding-left: 20px;
}

.user-playlist {
    flex-direction: column;
    overflow: auto;
    margin-top: 10px;
}

.user-playlist a {
    line-height: 35px;
    font-size: 12px;
}

.playlist a {
    color: #a3a3a3;
}
/* fine playlist */

/* utente */
.account {
    height: 80px;
    flex-direction: column;
    justify-content: center;
}

.download img {
    width: 10%;
}

.utente {
    align-items: center;
}

.utente img {
    background-color: grey;
    height: 30px;
    width: 30px;
    border-radius: 50%;
}


.download span {
    color: #a3a3a3;
    margin-left: 10px;
    font-size: 12px;
}

hr {
    margin: 10px auto;
    width: 80%;
}

.utente h4 {
    margin-left: 10px;
}

aside a:hover,
aside span:hover {
    color: white;
    cursor: pointer;
}
/* fine utente */
/* fine navigazione */

/* corpo */
.upgrade {
    width: calc(100% - 200px);
    height: 100px;
    justify-content: flex-end;
    align-items: center;
    position: fixed;
    right: 0;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 999;
}

.upgrade a {
    font-size: 12px;
    font-weight: 700;
    padding: 10px 40px;
    border: 1px solid white;
    border-radius: 20px;
    color: white;
    margin-right: 20px;
}

.upgrade a:hover {
    cursor: pointer;
    transform: scale(1.1);
}

.container {
    width: 100%;
    margin: 100px auto 5px;
    padding: 20px;
} 

.menu-esplora {
    width: 100%;
    height: 20px;
    justify-content: center;
    flex-wrap: wrap;
}

.menu-esplora a {
    margin: 0 15px;
    color: #7d7f84;
    font-weight: 700;
    font-size: 12px;
    position: relative;
}

.menu-esplora .active::after {
    content: "";
    display: inline-block;
    width: 40px;
    height: 2px;
    background-color: lime;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translate(-50%, 0);
}
/* songs */
.container-title {
    margin: 30px 0 20px;
    line-height: 35px;
}

h2 {
    color: white;
    font-weight: 700;
}

.container-songs {
    width: 100%;
    flex-wrap: wrap;
}

.song {
    width: calc(100% / 6 - 20px);
    margin-right: 20px;
    cursor: pointer;
}

.song-img {
    position: relative;
    width: 100%;
    animation: spin 8s linear infinite;
}

@keyframes spin {
    from {transform: rotate(0deg);
    }
    to {transform: rotate(360deg);
    }
}

.disco {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 30px;
    width: 30px;
    background-color: #141922;
    border-radius: 50%;
    border: 2px solid white;
}

.song-img img {
    width: 100%;
}

.tondo {
    border-radius: 50%;
    border: 2px solid white;
}

.song-text {
    text-align: center;
}

.song-text h4 {
    margin: 10px 0 ;
}

.container span {
    font-size: 12px;
    color: #7d7f84;
    font-weight: 700;
}

.song-img .far {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-size: 60px;
    display: none;
} 

.song-img:hover img {
    opacity: 0.5;
}

.song-img:hover i {
    display: block;
}

main a:hover,
main span:hover {
    color: white;
    cursor: pointer;
}
/* fine songs */
/* fine corpo */
/* footer */
.col-lat {
    width: 20%;
    margin: 0 20px;
}

footer .col-centrale {
    width: 60%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
/* Footer sinistra */
footer .now-playing {
    align-items: center;
}

footer .now-actions {
    margin-left: 30px;
    color: white;
    justify-content: center;
}

footer .col-lat i {
    color: white;
    opacity: 0.6;
    padding: 5px;
}

footer .col-lat i:hover {
    opacity: 1;
    cursor: pointer;
}

footer .now-txt {
    padding-left: 10px;
}

footer .now-playing .now-title {
    color: white;
    font-size: 14px;
    font-weight: 600;
}

footer .now-playing .now-title:hover {
    text-decoration: underline;
    cursor: pointer;
}

.now-playing .now-artist {
    color: grey;
    font-size: 10px;
    font-weight: 400;
}

footer .now-playing .now-artist:hover {
    text-decoration: underline;
    cursor: pointer;
    color: white;
}

.rotazione {
    position: relative;
    animation: spin 8s linear infinite;
}

.disco2 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 15px;
    width: 15px;
    background-color: #282828;
    border-radius: 50%;
    border: 2px solid white;
}


footer .now-playing img {
    width: 50px;
    cursor: pointer;
}
/* Fine Footer sinistra */

/* Footer centrale */
.player-cmd {
    text-align: center;
    color: white;
    align-items: center;
}

.player-cmd i {
    margin: 0px 10px;
    font-size: 16px;
    cursor: pointer;
}

.player-cmd .play {
    font-size: 34px;
}

.player-cmd .play:hover {
    transform: scale(1.1);
}

.progression {
    margin-top: 10px;
    width: 50%;
    justify-content: center;
    align-items: center;
}

.progression .time {
    color: white;
    font-size: 10px;
    margin: 0px 10px;
}

.col-centrale .progress-bar {
    width: 80%;
    min-width: 150px;
    height: 4px;
    background-color: grey;
    position: relative;
    border-radius: 5px;
    cursor: pointer;
}

.loading {
    width: 20%;
    position: absolute;
    left: 0;
    height: 4px;
    border-radius: 5px;
    background-color: rgb(233, 233, 233);
    cursor: pointer;
}

.progress-bar:hover .loading {
    background-color: limegreen;
}

.circle {
    display: none;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    position: absolute;
    left: 18%;
    top: 50%;
    transform: translate(0%, -50%);
    background-color: white;
}

.progress-bar:hover .circle {
    display: block;
}
/* Fine footer centrale */

/* Footer destro */
#col-right.col-lat {
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;
}

#col-right .progression {
    margin-top: 0px;
    width: 150px;
    min-width: 100px
}

#col-right .progress-bar {
    width: 80%;
    height: 4px;
    background-color: grey;
    position: relative;
    border-radius: 5px;
    cursor: pointer;
}

#col-right .responsive-more {
    display: none;
}
/* Fine footer destro */
/* fine footer */

/* Mediaqueary */
@media screen and (max-width:1000px) {
    .container-songs {
        flex-wrap: wrap;
    }

    .song {
        width: calc(100% / 4 - 20px);
    }
}

@media screen and (max-width: 700px) {
    .song {
        width: calc(100% / 2 - 20px);
    }

    footer .now-actions {
        margin-left: 0;
        flex-direction: column;
    }

    aside {
        width: 50px;
    }

    main {
        width: calc(100% - 50px);
    }

    .upgrade {
        width: calc(100% - 50px);
    }

    .row a {
        padding-left: 3px;
    }

    nav span,
    .playlist,
    .account span,
    .utente h4,
    #logo svg,
    hr {
        display: none;
    }
    
    #logo {
        padding-left: 0;
    } 

    #logo svg {
        width: 100%;
        padding: 10px;
        margin: 0;
    }

    #logo-mobile {
        display: block;
    }

    .info {
        align-items: center;
    }

    nav a:first-child {
        border-left: 0;
    }

    nav {
        margin: 0;
    }

    .item {
        margin: 5px 0;
    }
    
    .row a {
        padding-left: 0;
        border-left: 0;
    }

    .download {
        width: 20px;
        margin: 0 auto
    }

    .download img {
        width: 100%;
    }

    .account {
        justify-content: space-around;
    }

    .utente {
        justify-content: center;
    }
   
}

/* fine Mediaqueary */

/* debug */
.debug .wrapper {
    background-color: rgb(248, 168, 168);
}

.debug aside {
    background-color: rgb(145, 141, 141) ;
}

.debug main {
    background-color: rgb(95, 95, 212);
}

.debug footer {
    background-color: lightpink;
}

.debug .row {
    background-color: black;
}

.debug .info,
.debug .account {
    border: 2px solid red;
}

.debug #logo,
.debug nav, 
.debug .playlist {
    border: 3px solid white;
}

.debug .upgrade {
    background-color: rgba(0, 0, 0, 0.5);
}

.debug .container {
    background-color: rgb(192, 250, 192);
}

.debug .menu-esplora,
.debug .menu-esplora a,
.debug nav a  {
    border: 1px solid black;
}

.debug .container-songs {
    border: 1px solid yellow;
}

.debug .song {
    background-color: orange;
}

.debug .col-lat {
    background-color: rgb(160, 240, 160);
}

.debug .now-actions {
    border: 1px solid blue;
}

.debug .now-txt {
    border: 1px solid black;
}


.debug .col-centrale {
    background-color: rgb(60, 119, 143);
}

.debug .player-cmd {
    background-color: tomato;
}

.debug .progression {
    background-color: violet;
}